[API_KEYS]
API_KEY_GROQ=
TAVILY_API_KEY =

[DATABASE]
PINECONE_API_KEY = 
INDEX_NAME = default_index
EMBEDDING_MODEL_NAME = default_embedding
HOST = 
PINECONE_ENVIRONMENT=


[LLM]
LLM_MODEL_NAME=openai/gpt-oss-120b
TEMPERATURE = 0.5